SonaroAI_automation.json
{
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37d3038e-6998-49ba-a48d-09d536d62b41",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "call_analyzed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -512,
        -128
      ],
      "id": "30ebb72e-103b-4f6c-baa5-ba6e787f563f",
      "name": "If"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "SonaroAI",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        -128
      ],
      "id": "90cfed5b-dbd4-4093-9f6d-9cc579cddaad",
      "name": "Webhook",
      "webhookId": "007348a8-102f-4cdc-a5ba-3dad1bf2efe9"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1WEosGYl1AxMzdg6qcDSr9kEtKCiMcEScSLlEd07nSWM",
          "mode": "list",
          "cachedResultName": "SonaroAI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WEosGYl1AxMzdg6qcDSr9kEtKCiMcEScSLlEd07nSWM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WEosGYl1AxMzdg6qcDSr9kEtKCiMcEScSLlEd07nSWM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Call Transcript": "={{ $('Webhook').item.json.body.call.transcript }}",
            "Call Rec": "={{ $('Webhook').item.json.body.call.recording_url }}",
            "Call Summary": "={{ $json.body.call.call_analysis.call_summary }}",
            "Caller Name": "={{ $('Webhook').item.json.body.call.call_analysis.custom_analysis_data['Customer Name'] }}",
            "Caller Email": "={{ $('Webhook').item.json.body.call.call_analysis.custom_analysis_data.Email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Call Date",
              "displayName": "Call Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Call Rec",
              "displayName": "Call Rec",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Call Transcript",
              "displayName": "Call Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Call Summary",
              "displayName": "Call Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caller Name",
              "displayName": "Caller Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caller Email",
              "displayName": "Caller Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -304,
        -144
      ],
      "id": "0432bf24-cb01-4f14-ba79-41fdd9828c11",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9xlJ2j7RKPRTLupS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=(note: donot add html at first)\n\nYou are a professional assistant sending appointment follow-up emails for Sonaro AI.\nWrite the email in HTML format with a clean, mobile-friendly layout. Use <p> tags only (no tables).\nUse the correct scenario depending on whether the caller booked an appointment or not.\n\n1️⃣ If the Caller Booked an Appointment\n\nConfirm the appointment details politely and clearly.\n\n — extracted from the call summary.\n\n\n\nAdd a short description of what the call will cover.\n\nInclude a brief description of Sonaro AI’s services.\n\nKeep the tone friendly, concise, and professional.\n\nUse:\n\n{{ $json['Caller Name'] }} for the recipient’s name\n\n{{ $json['Call Summary'] }} for call details\n\nStructure the HTML with proper tags:\n\n<p> for greeting, body, and closing\n\n\n✅ Sample Output:\n\n<html>\n  <body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333; margin:20px; padding:0;\">\n\n    <p>Hi {{ $json['Caller Name'] }},</p>\n\n    <p>Thank you for booking a demo with Sonaro AI!</p>\n\n    <p>Your appointment is confirmed for <strong>use summary for timezone</strong>.</p>\n\n   \n\n    <p>During this call, we discussed:<br/>\n    {{ $json['Call Summary'] }}</p>\n\n    <p>A little about Sonaro AI:<br/>\n    We create <strong>custom AI voice agents</strong> that handle calls, qualify leads, and integrate with your calendar and CRM — helping businesses save time, reduce missed calls, and boost customer engagement.</p>\n\n    <p>We look forward to speaking with you and showing how Sonaro AI can help your business grow!</p>\n\n    <p>Best regards,<br/>\n    Lexi<br/>\n    Sonaro AI</p>\n\n  </body>\n</html>\n\n2️⃣ If the Caller Did NOT Book an Appointment\n\n❌ Do not include any appointment time or Zoom link.\n\nAnalyze {{ $json['Call Transcript'] }} to understand their business context.\n\nWrite a short, personalized follow-up that:\n\nExplains how Sonaro AI can support their business growth\n\nHighlights key benefits in steps (not just a generic paragraph)\n\nEncourages them to reply or book a call when ready, in a warm, non-pushy way\n\nKeep tone consultative, friendly, and professional.\n\nUse <p> tags only.\n\n✅ Sample Output:\n\n<html>\n  <body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333; margin:20px; padding:0;\">\n\n    <p>Hi {{ $json['Caller Name'] }},</p>\n\n    <p>Thank you for your time today! It was great learning more about your business.</p>\n\n    <p>Based on our conversation, here’s how <strong>Sonaro AI</strong> can help drive your business growth:</p>\n\n    <p>\n      1️⃣ <strong>Never miss a lead again</strong> — Our AI handles calls 24/7, ensuring every opportunity is captured.<br/>\n      2️⃣ <strong>Qualify and log leads automatically</strong> — Collects name, contact info, and request details in real time.<br/>\n      3️⃣ <strong>Integrates with your tools</strong> — Syncs with your calendar and CRM so your team doesn’t lift a finger.<br/>\n      4️⃣ <strong>Faster response times</strong> — Engages customers within seconds, improving satisfaction and conversions.<br/>\n      5️⃣ <strong>Scales without extra hiring</strong> — Manage higher call volumes without expanding staff.\n    </p>\n\n    <p>Whenever you're ready, we’d love to show you how this can work for your business. Just reply to this email or book a call at your convenience.</p>\n\n    <p>Best regards,<br/>\n    Lexi<br/>\n    Sonaro's Personal Assistant</p>\n\n  </body>\n</html>",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -112,
        -144
      ],
      "id": "6cf38a1f-af12-495f-bc1b-cb39c95468b6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -128,
        32
      ],
      "id": "24d42201-6959-49e1-9b17-b19ed3b2b2d8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3dl5irKIHAx39nRk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Append row in sheet').item.json['Caller Email'] }}",
        "subject": "Sonaro AI",
        "bodyContent": "={{ $json.output }}",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        192,
        -144
      ],
      "id": "7dd46cec-1bc3-4804-94da-97b700784efd",
      "name": "Send a message1",
      "webhookId": "bee52d16-fd2f-49d1-adee-75639faa598d",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "shydiiJ7nOrk0kFr",
          "name": "Microsoft Outlook account 3-Manuele"
        }
      }
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "sonaroo.app.n8n.cloud",
          "user-agent": "axios/1.13.2",
          "content-length": "47351",
          "accept": "application/json, text/plain, */*",
          "accept-encoding": "gzip, br",
          "cdn-loop": "cloudflare; loops=1; subreqs=1",
          "cf-connecting-ip": "100.20.5.228",
          "cf-ew-via": "15",
          "cf-ipcountry": "US",
          "cf-ray": "9a3f9a1115aed82e-PDX",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "cf-worker": "n8n.cloud",
          "content-type": "application/json",
          "x-forwarded-for": "100.20.5.228, 104.23.160.68",
          "x-forwarded-host": "sonaroo.app.n8n.cloud",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "traefik-prod-users-gwc-5-6fbf5bdbfc-mn9tr",
          "x-is-trusted": "yes",
          "x-real-ip": "100.20.5.228",
          "x-retell-signature": "v=1764057515655,d=a41f660aa398a7bebcfaad0ad05be86eb81052d6b831090347c6d0495f8fb98e"
        },
        "params": {},
        "query": {},
        "body": {
          "event": "call_analyzed",
          "call": {
            "call_id": "call_d4ad40a19bcb544e5e81273ecc8",
            "call_type": "web_call",
            "agent_id": "agent_ab0473466e3466eb49d632c438",
            "agent_version": 2,
            "agent_name": "Sonaro.ai",
            "call_status": "ended",
            "start_timestamp": 1764057328896,
            "end_timestamp": 1764057513875,
            "duration_ms": 184979,
            "transcript": "Agent: Hey! I'm Lexi.  Sonaro AI's voice assistant.  Go ahead and ask me anything.\nUser: Hello. I want to book an appointment with your teammates.\nAgent: Hello! This is Sonaro AI Assistant. May I know which country you're calling from?\nUser: I'm from England.\nAgent: Thanks for letting me know. Which language do you prefer to speak?\nUser: English will be the best.\nAgent: Great, we'll continue in English. What industry is your business in?\nUser: I have a restaurant business\nAgent: Thank you. Do most of your calls go unanswered or to voicemail?\nUser: Yes.\nAgent: Understood. Here’s how we can help: you’ll never miss a call, we answer customers in under 10 seconds, every call is logged automatically, and we can integrate with your calendar or CRM. If you have 10 to 15 minutes, I can schedule a call with our team to review a tailored plan, pricing, and setup. What day works best for you?\nUser: Tomorrow, ten AM.\nAgent: Sure, let's get a few details first. May I have your name?\nUser: Don't you ask my time soon?\nAgent: You're right, since you're calling from England, I'll use that time zone. Now, could you please share your name?\nUser: My name is Naoshin.\nAgent: Thank you, Naushin. Let me confirm I got that right. Your name is Naushin, correct?\nUser: Is Nocin, n o s h I n.\nAgent: Got it, Naushin. Now, may I have your email address, please?\nUser: My email is n o s h I n t h s n I m k h k n at the rate of gmail dot com\nAgent: Let me repeat that to make sure I got it right: N-O-S-H-I-N-T-A-S-N-I-M-K-H-A-N at gmail.com. Your email is naushintasnimkhan@gmail.com, correct?\nUser: Correct.\nAgent: Perfect. Now let's find a time for your appointment. You \nAgent: mentioned \nAgent: tomorrow at 10 a.m. \nAgent: your local time in England. Let me check \nAgent: if that time in Italy (Rome) is available.Your appointment is confirmed for tomorrow at 10 a.m. UK time. You'll receive a confirmation email shortly.\nUser: Okay. Thank you.\nAgent: You're welcome! Have a great day, and feel free to reach out if you need any more help. Goodbye!\n",
            "transcript_object": [
              {
                "role": "agent",
                "content": "Hey! I'm Lexi.  Sonaro AI's voice assistant.  Go ahead and ask me anything.",
                "words": [
                  {
                    "word": "Hey! ",
                    "start": 0.687,
                    "end": 1.050636474609375
                  },
                  {
                    "word": "I'm ",
                    "start": 1.380125,
                    "end": 1.743761474609375
                  },
                  {
                    "word": "Lexi. ",
                    "start": 1.743761474609375,
                    "end": 2.107397705078125
                  },
                  {
                    "word": " Sonaro ",
                    "start": 2.107397705078125,
                    "end": 2.4710341796875
                  },
                  {
                    "word": "AI's ",
                    "start": 2.4710341796875,
                    "end": 2.83467041015625
                  },
                  {
                    "word": "voice ",
                    "start": 2.83467041015625,
                    "end": 3.198306884765625
                  },
                  {
                    "word": "assistant. ",
                    "start": 3.198306884765625,
                    "end": 3.561943115234375
                  },
                  {
                    "word": " ",
                    "start": 3.561943115234375,
                    "end": 3.92557958984375
                  },
                  {
                    "word": "Go ",
                    "start": 4.164916748046875,
                    "end": 4.528552978515625
                  },
                  {
                    "word": "ahead ",
                    "start": 4.528552978515625,
                    "end": 4.892189453125
                  },
                  {
                    "word": "and ",
                    "start": 4.892189453125,
                    "end": 5.25582568359375
                  },
                  {
                    "word": "ask ",
                    "start": 5.25582568359375,
                    "end": 5.619462158203125
                  },
                  {
                    "word": "me ",
                    "start": 5.619462158203125,
                    "end": 5.983098388671875
                  },
                  {
                    "word": "anything.",
                    "start": 5.983098388671875,
                    "end": 6.34673486328125
                  }
                ],
                "metadata": {
                  "response_id": 0
                }
              },
              {
                "role": "user",
                "content": "Hello. I want to book an appointment with your teammates.",
                "words": [
                  {
                    "word": "Hello. ",
                    "start": 7.7459999999999996,
                    "end": 8.225999700000001
                  },
                  {
                    "word": "I ",
                    "start": 8.586,
                    "end": 8.826
                  },
                  {
                    "word": "want ",
                    "start": 8.826,
                    "end": 9.226
                  },
                  {
                    "word": "to ",
                    "start": 9.226,
                    "end": 9.545999
                  },
                  {
                    "word": "book ",
                    "start": 9.545999,
                    "end": 9.866000000000001
                  },
                  {
                    "word": "an ",
                    "start": 9.866000000000001,
                    "end": 10.186
                  },
                  {
                    "word": "appointment ",
                    "start": 10.186,
                    "end": 10.746
                  },
                  {
                    "word": "with ",
                    "start": 10.746,
                    "end": 10.986
                  },
                  {
                    "word": "your ",
                    "start": 10.986,
                    "end": 11.146
                  },
                  {
                    "word": "teammates.",
                    "start": 11.146,
                    "end": 11.625999
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Hello! This is Sonaro AI Assistant. May I know which country you're calling from?",
                "words": [
                  {
                    "word": "Hello!",
                    "start": 13.706,
                    "end": 14.056
                  },
                  {
                    "word": " This ",
                    "start": 14.056,
                    "end": 14.406
                  },
                  {
                    "word": "is ",
                    "start": 14.406,
                    "end": 14.756
                  },
                  {
                    "word": "Sonaro ",
                    "start": 14.756,
                    "end": 15.106
                  },
                  {
                    "word": "AI ",
                    "start": 15.106,
                    "end": 15.456
                  },
                  {
                    "word": "Assistant. ",
                    "start": 15.456,
                    "end": 15.806
                  },
                  {
                    "word": "May ",
                    "start": 15.806,
                    "end": 16.156
                  },
                  {
                    "word": "I ",
                    "start": 16.156,
                    "end": 16.506
                  },
                  {
                    "word": "know ",
                    "start": 16.506,
                    "end": 16.856
                  },
                  {
                    "word": "which ",
                    "start": 16.856,
                    "end": 17.206
                  },
                  {
                    "word": "country ",
                    "start": 17.206,
                    "end": 17.556
                  },
                  {
                    "word": "you're ",
                    "start": 17.556,
                    "end": 17.906
                  },
                  {
                    "word": "calling ",
                    "start": 17.906,
                    "end": 18.256
                  },
                  {
                    "word": "from?",
                    "start": 18.256,
                    "end": 18.606
                  }
                ],
                "metadata": {
                  "response_id": 1
                }
              },
              {
                "role": "user",
                "content": "I'm from England.",
                "words": [
                  {
                    "word": "I'm ",
                    "start": 20.176,
                    "end": 21.215999999999998
                  },
                  {
                    "word": "from ",
                    "start": 21.215999999999998,
                    "end": 21.935999
                  },
                  {
                    "word": "England.",
                    "start": 22.336,
                    "end": 22.816
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Thanks for letting me know. Which language do you prefer to speak?",
                "words": [
                  {
                    "word": "Thanks ",
                    "start": 25.21,
                    "end": 25.56
                  },
                  {
                    "word": "for ",
                    "start": 25.56,
                    "end": 25.91
                  },
                  {
                    "word": "letting ",
                    "start": 25.91,
                    "end": 26.26
                  },
                  {
                    "word": "me ",
                    "start": 26.26,
                    "end": 26.61
                  },
                  {
                    "word": "know. ",
                    "start": 26.61,
                    "end": 26.96
                  },
                  {
                    "word": "Which ",
                    "start": 26.96,
                    "end": 27.31
                  },
                  {
                    "word": "language ",
                    "start": 27.31,
                    "end": 27.66
                  },
                  {
                    "word": "do ",
                    "start": 27.66,
                    "end": 28.01
                  },
                  {
                    "word": "you ",
                    "start": 28.01,
                    "end": 28.36
                  },
                  {
                    "word": "prefer ",
                    "start": 28.36,
                    "end": 28.71
                  },
                  {
                    "word": "to ",
                    "start": 28.71,
                    "end": 29.06
                  },
                  {
                    "word": "speak?",
                    "start": 29.06,
                    "end": 29.41
                  }
                ],
                "metadata": {
                  "response_id": 2
                }
              },
              {
                "role": "user",
                "content": "English will be the best.",
                "words": [
                  {
                    "word": "English ",
                    "start": 30.536001,
                    "end": 31.016
                  },
                  {
                    "word": "will ",
                    "start": 31.016,
                    "end": 31.256
                  },
                  {
                    "word": "be ",
                    "start": 31.256,
                    "end": 31.496
                  },
                  {
                    "word": "the ",
                    "start": 31.496,
                    "end": 31.576
                  },
                  {
                    "word": "best.",
                    "start": 31.576,
                    "end": 31.895999999999997
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Great, we'll continue in English. What industry is your business in?",
                "words": [
                  {
                    "word": "Great, ",
                    "start": 33.938,
                    "end": 34.288
                  },
                  {
                    "word": "we'll ",
                    "start": 34.288,
                    "end": 34.638
                  },
                  {
                    "word": "continue ",
                    "start": 34.638,
                    "end": 34.988
                  },
                  {
                    "word": "in ",
                    "start": 34.988,
                    "end": 35.338
                  },
                  {
                    "word": "English. ",
                    "start": 35.338,
                    "end": 35.688
                  },
                  {
                    "word": "What ",
                    "start": 35.688,
                    "end": 36.038
                  },
                  {
                    "word": "industry ",
                    "start": 36.038,
                    "end": 36.388
                  },
                  {
                    "word": "is ",
                    "start": 36.388,
                    "end": 36.738
                  },
                  {
                    "word": "your ",
                    "start": 36.738,
                    "end": 37.088
                  },
                  {
                    "word": "business ",
                    "start": 37.088,
                    "end": 37.438
                  },
                  {
                    "word": "in?",
                    "start": 37.438,
                    "end": 37.788
                  }
                ],
                "metadata": {
                  "response_id": 3
                }
              },
              {
                "role": "user",
                "content": "I have a restaurant business",
                "words": [
                  {
                    "word": "I ",
                    "start": 38.826001999999995,
                    "end": 39.065999999999995
                  },
                  {
                    "word": "have ",
                    "start": 39.065999999999995,
                    "end": 39.306
                  },
                  {
                    "word": "a ",
                    "start": 39.306,
                    "end": 39.466
                  },
                  {
                    "word": "restaurant ",
                    "start": 39.466,
                    "end": 39.946
                  },
                  {
                    "word": "business",
                    "start": 39.946,
                    "end": 40.506002
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Thank you. Do most of your calls go unanswered or to voicemail?",
                "words": [
                  {
                    "word": "Thank ",
                    "start": 42.608,
                    "end": 42.958
                  },
                  {
                    "word": "you. ",
                    "start": 42.958,
                    "end": 43.308
                  },
                  {
                    "word": "Do ",
                    "start": 43.308,
                    "end": 43.658
                  },
                  {
                    "word": "most ",
                    "start": 43.658,
                    "end": 44.008
                  },
                  {
                    "word": "of ",
                    "start": 44.008,
                    "end": 44.358
                  },
                  {
                    "word": "your ",
                    "start": 44.358,
                    "end": 44.708
                  },
                  {
                    "word": "calls ",
                    "start": 44.708,
                    "end": 45.058
                  },
                  {
                    "word": "go ",
                    "start": 45.058,
                    "end": 45.408
                  },
                  {
                    "word": "unanswered ",
                    "start": 45.408,
                    "end": 45.758
                  },
                  {
                    "word": "or ",
                    "start": 45.758,
                    "end": 46.108
                  },
                  {
                    "word": "to ",
                    "start": 46.108,
                    "end": 46.458
                  },
                  {
                    "word": "voicemail?",
                    "start": 46.208,
                    "end": 46.558
                  }
                ],
                "metadata": {
                  "response_id": 4
                }
              },
              {
                "role": "user",
                "content": "Yes.",
                "words": [
                  {
                    "word": "Yes.",
                    "start": 48.515997,
                    "end": 49.156
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Understood. Here’s how we can help: you’ll never miss a call, we answer customers in under 10 seconds, every call is logged automatically, and we can integrate with your calendar or CRM. If you have 10 to 15 minutes, I can schedule a call with our team to review a tailored plan, pricing, and setup. What day works best for you?",
                "words": [
                  {
                    "word": "Understood.",
                    "start": 51.342,
                    "end": 51.692
                  },
                  {
                    "word": " Here",
                    "start": 51.692,
                    "end": 52.042
                  },
                  {
                    "word": "’s ",
                    "start": 52.042,
                    "end": 52.392
                  },
                  {
                    "word": "how ",
                    "start": 52.392,
                    "end": 52.742
                  },
                  {
                    "word": "we ",
                    "start": 52.742,
                    "end": 53.092
                  },
                  {
                    "word": "can ",
                    "start": 53.092,
                    "end": 53.442
                  },
                  {
                    "word": "help: ",
                    "start": 53.442,
                    "end": 53.792
                  },
                  {
                    "word": "you’ll ",
                    "start": 53.792,
                    "end": 54.142
                  },
                  {
                    "word": "never ",
                    "start": 54.142,
                    "end": 54.492
                  },
                  {
                    "word": "miss ",
                    "start": 54.492,
                    "end": 54.842
                  },
                  {
                    "word": "a ",
                    "start": 54.842,
                    "end": 55.192
                  },
                  {
                    "word": "call, ",
                    "start": 55.192,
                    "end": 55.542
                  },
                  {
                    "word": "we ",
                    "start": 55.542,
                    "end": 55.892
                  },
                  {
                    "word": "answer ",
                    "start": 55.892,
                    "end": 56.242
                  },
                  {
                    "word": "customers ",
                    "start": 56.242,
                    "end": 56.592
                  },
                  {
                    "word": "in ",
                    "start": 56.592,
                    "end": 56.942
                  },
                  {
                    "word": "under ",
                    "start": 56.942,
                    "end": 57.292
                  },
                  {
                    "word": "10 ",
                    "start": 57.292,
                    "end": 57.642
                  },
                  {
                    "word": "seconds, ",
                    "start": 57.642,
                    "end": 57.992
                  },
                  {
                    "word": "every ",
                    "start": 57.992,
                    "end": 58.342
                  },
                  {
                    "word": "call ",
                    "start": 58.342,
                    "end": 58.692
                  },
                  {
                    "word": "is ",
                    "start": 58.692,
                    "end": 59.042
                  },
                  {
                    "word": "logged ",
                    "start": 59.042,
                    "end": 59.392
                  },
                  {
                    "word": "automatically, ",
                    "start": 59.392,
                    "end": 59.742
                  },
                  {
                    "word": "and ",
                    "start": 59.742,
                    "end": 60.092
                  },
                  {
                    "word": "we ",
                    "start": 60.092,
                    "end": 60.442
                  },
                  {
                    "word": "can ",
                    "start": 60.442,
                    "end": 60.792
                  },
                  {
                    "word": "integrate ",
                    "start": 60.792,
                    "end": 61.142
                  },
                  {
                    "word": "with ",
                    "start": 61.142,
                    "end": 61.492
                  },
                  {
                    "word": "your ",
                    "start": 61.492,
                    "end": 61.842
                  },
                  {
                    "word": "calendar ",
                    "start": 61.842,
                    "end": 62.192
                  },
                  {
                    "word": "or ",
                    "start": 62.192,
                    "end": 62.542
                  },
                  {
                    "word": "CRM. ",
                    "start": 62.542,
                    "end": 62.892
                  },
                  {
                    "word": "If ",
                    "start": 62.892,
                    "end": 63.242
                  },
                  {
                    "word": "you ",
                    "start": 63.242,
                    "end": 63.592
                  },
                  {
                    "word": "have ",
                    "start": 63.592,
                    "end": 63.942
                  },
                  {
                    "word": "10 ",
                    "start": 63.942,
                    "end": 64.292
                  },
                  {
                    "word": "to ",
                    "start": 64.292,
                    "end": 64.642
                  },
                  {
                    "word": "15 ",
                    "start": 64.642,
                    "end": 64.992
                  },
                  {
                    "word": "minutes, ",
                    "start": 64.992,
                    "end": 65.342
                  },
                  {
                    "word": "I ",
                    "start": 65.342,
                    "end": 65.692
                  },
                  {
                    "word": "can ",
                    "start": 65.692,
                    "end": 66.042
                  },
                  {
                    "word": "schedule ",
                    "start": 66.042,
                    "end": 66.392
                  },
                  {
                    "word": "a ",
                    "start": 66.392,
                    "end": 66.742
                  },
                  {
                    "word": "call ",
                    "start": 66.742,
                    "end": 67.092
                  },
                  {
                    "word": "with ",
                    "start": 67.092,
                    "end": 67.442
                  },
                  {
                    "word": "our ",
                    "start": 67.442,
                    "end": 67.792
                  },
                  {
                    "word": "team ",
                    "start": 67.792,
                    "end": 68.142
                  },
                  {
                    "word": "to ",
                    "start": 68.142,
                    "end": 68.492
                  },
                  {
                    "word": "review ",
                    "start": 68.492,
                    "end": 68.842
                  },
                  {
                    "word": "a ",
                    "start": 68.842,
                    "end": 69.192
                  },
                  {
                    "word": "tailored ",
                    "start": 69.192,
                    "end": 69.542
                  },
                  {
                    "word": "plan, ",
                    "start": 69.542,
                    "end": 69.892
                  },
                  {
                    "word": "pricing, ",
                    "start": 69.892,
                    "end": 70.242
                  },
                  {
                    "word": "and ",
                    "start": 70.242,
                    "end": 70.592
                  },
                  {
                    "word": "setup. ",
                    "start": 70.592,
                    "end": 70.942
                  },
                  {
                    "word": "What ",
                    "start": 70.942,
                    "end": 71.292
                  },
                  {
                    "word": "day ",
                    "start": 71.292,
                    "end": 71.642
                  },
                  {
                    "word": "works ",
                    "start": 71.642,
                    "end": 71.992
                  },
                  {
                    "word": "best ",
                    "start": 71.992,
                    "end": 72.342
                  },
                  {
                    "word": "for ",
                    "start": 72.342,
                    "end": 72.692
                  },
                  {
                    "word": "you?",
                    "start": 72.692,
                    "end": 73.042
                  }
                ],
                "metadata": {
                  "response_id": 5
                }
              },
              {
                "role": "user",
                "content": "Tomorrow, ten AM.",
                "words": [
                  {
                    "word": "Tomorrow, ",
                    "start": 76.046,
                    "end": 77.006
                  },
                  {
                    "word": "ten ",
                    "start": 77.16599500000001,
                    "end": 77.485994
                  },
                  {
                    "word": "AM.",
                    "start": 77.485994,
                    "end": 77.80599400000001
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Sure, let's get a few details first. May I have your name?",
                "words": [
                  {
                    "word": "Sure,",
                    "start": 79.875,
                    "end": 80.225
                  },
                  {
                    "word": " let's ",
                    "start": 80.225,
                    "end": 80.575
                  },
                  {
                    "word": "get ",
                    "start": 80.575,
                    "end": 80.925
                  },
                  {
                    "word": "a ",
                    "start": 80.925,
                    "end": 81.275
                  },
                  {
                    "word": "few ",
                    "start": 81.275,
                    "end": 81.625
                  },
                  {
                    "word": "details ",
                    "start": 81.625,
                    "end": 81.975
                  },
                  {
                    "word": "first. ",
                    "start": 81.975,
                    "end": 82.325
                  },
                  {
                    "word": "May ",
                    "start": 82.325,
                    "end": 82.675
                  },
                  {
                    "word": "I ",
                    "start": 82.675,
                    "end": 83.025
                  },
                  {
                    "word": "have ",
                    "start": 83.025,
                    "end": 83.375
                  },
                  {
                    "word": "your ",
                    "start": 83.275,
                    "end": 83.625
                  },
                  {
                    "word": "name?",
                    "start": 83.275,
                    "end": 83.625
                  }
                ],
                "metadata": {
                  "response_id": 6
                }
              },
              {
                "role": "user",
                "content": "Don't you ask my time soon?",
                "words": [
                  {
                    "word": "Don't ",
                    "start": 89.87599,
                    "end": 90.27599500000001
                  },
                  {
                    "word": "you ",
                    "start": 90.27599500000001,
                    "end": 90.436
                  },
                  {
                    "word": "ask ",
                    "start": 90.436,
                    "end": 91.15599
                  },
                  {
                    "word": "my ",
                    "start": 91.156,
                    "end": 91.55599400000001
                  },
                  {
                    "word": "time ",
                    "start": 91.55599400000001,
                    "end": 91.955995
                  },
                  {
                    "word": "soon?",
                    "start": 91.955995,
                    "end": 92.27599500000001
                  }
                ]
              },
              {
                "role": "agent",
                "content": "You're right, since you're calling from England, I'll use that time zone. Now, could you please share your name?",
                "words": [
                  {
                    "word": "You're ",
                    "start": 94.06,
                    "end": 94.41
                  },
                  {
                    "word": "right, ",
                    "start": 94.41,
                    "end": 94.76
                  },
                  {
                    "word": "since ",
                    "start": 94.76,
                    "end": 95.11
                  },
                  {
                    "word": "you're ",
                    "start": 95.11,
                    "end": 95.46
                  },
                  {
                    "word": "calling ",
                    "start": 95.46,
                    "end": 95.81
                  },
                  {
                    "word": "from ",
                    "start": 95.81,
                    "end": 96.16
                  },
                  {
                    "word": "England, ",
                    "start": 96.16,
                    "end": 96.51
                  },
                  {
                    "word": "I'll ",
                    "start": 96.51,
                    "end": 96.86
                  },
                  {
                    "word": "use ",
                    "start": 96.86,
                    "end": 97.21
                  },
                  {
                    "word": "that ",
                    "start": 97.21,
                    "end": 97.56
                  },
                  {
                    "word": "time ",
                    "start": 97.56,
                    "end": 97.91
                  },
                  {
                    "word": "zone. ",
                    "start": 97.91,
                    "end": 98.26
                  },
                  {
                    "word": "Now, ",
                    "start": 98.26,
                    "end": 98.61
                  },
                  {
                    "word": "could ",
                    "start": 98.61,
                    "end": 98.96
                  },
                  {
                    "word": "you ",
                    "start": 98.96,
                    "end": 99.31
                  },
                  {
                    "word": "please ",
                    "start": 99.31,
                    "end": 99.66
                  },
                  {
                    "word": "share ",
                    "start": 99.66,
                    "end": 100.01
                  },
                  {
                    "word": "your ",
                    "start": 99.86,
                    "end": 100.21
                  },
                  {
                    "word": "name?",
                    "start": 99.86,
                    "end": 100.21
                  }
                ],
                "metadata": {
                  "response_id": 7
                }
              },
              {
                "role": "user",
                "content": "My name is Naoshin.",
                "words": [
                  {
                    "word": "My ",
                    "start": 101.766,
                    "end": 102.006
                  },
                  {
                    "word": "name ",
                    "start": 102.006,
                    "end": 102.24600000000001
                  },
                  {
                    "word": "is ",
                    "start": 102.24600000000001,
                    "end": 102.406
                  },
                  {
                    "word": "Naoshin.",
                    "start": 102.406,
                    "end": 103.046
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Thank you, Naushin. Let me confirm I got that right. Your name is Naushin, correct?",
                "words": [
                  {
                    "word": "Thank ",
                    "start": 105.071,
                    "end": 105.421
                  },
                  {
                    "word": "you, ",
                    "start": 105.421,
                    "end": 105.771
                  },
                  {
                    "word": "Naushin. ",
                    "start": 105.771,
                    "end": 106.121
                  },
                  {
                    "word": "Let ",
                    "start": 106.121,
                    "end": 106.471
                  },
                  {
                    "word": "me ",
                    "start": 106.471,
                    "end": 106.821
                  },
                  {
                    "word": "confirm ",
                    "start": 106.821,
                    "end": 107.171
                  },
                  {
                    "word": "I ",
                    "start": 107.171,
                    "end": 107.521
                  },
                  {
                    "word": "got ",
                    "start": 107.521,
                    "end": 107.871
                  },
                  {
                    "word": "that ",
                    "start": 107.871,
                    "end": 108.221
                  },
                  {
                    "word": "right. ",
                    "start": 108.221,
                    "end": 108.571
                  },
                  {
                    "word": "Your ",
                    "start": 108.571,
                    "end": 108.921
                  },
                  {
                    "word": "name ",
                    "start": 108.921,
                    "end": 109.271
                  },
                  {
                    "word": "is ",
                    "start": 109.271,
                    "end": 109.621
                  },
                  {
                    "word": "Naushin, ",
                    "start": 109.621,
                    "end": 109.971
                  },
                  {
                    "word": "correct?",
                    "start": 109.971,
                    "end": 110.321
                  }
                ],
                "metadata": {
                  "response_id": 8
                }
              },
              {
                "role": "user",
                "content": "Is Nocin, n o s h I n.",
                "words": [
                  {
                    "word": "Is ",
                    "start": 112.116,
                    "end": 112.436
                  },
                  {
                    "word": "Nocin, ",
                    "start": 112.926004,
                    "end": 113.96600000000001
                  },
                  {
                    "word": "n ",
                    "start": 113.96600000000001,
                    "end": 114.206
                  },
                  {
                    "word": "o ",
                    "start": 114.206,
                    "end": 114.44600000000001
                  },
                  {
                    "word": "s ",
                    "start": 114.44600000000001,
                    "end": 114.766
                  },
                  {
                    "word": "h ",
                    "start": 114.766,
                    "end": 115.08600000000001
                  },
                  {
                    "word": "I ",
                    "start": 115.08600000000001,
                    "end": 115.406
                  },
                  {
                    "word": "n.",
                    "start": 115.406,
                    "end": 115.646
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Got it, Naushin. Now, may I have your email address, please?",
                "words": [
                  {
                    "word": "Got ",
                    "start": 117.73,
                    "end": 118.08
                  },
                  {
                    "word": "it, ",
                    "start": 118.08,
                    "end": 118.43
                  },
                  {
                    "word": "Naushin. ",
                    "start": 118.43,
                    "end": 118.78
                  },
                  {
                    "word": "Now, ",
                    "start": 118.78,
                    "end": 119.13
                  },
                  {
                    "word": "may ",
                    "start": 119.13,
                    "end": 119.48
                  },
                  {
                    "word": "I ",
                    "start": 119.48,
                    "end": 119.83
                  },
                  {
                    "word": "have ",
                    "start": 119.83,
                    "end": 120.18
                  },
                  {
                    "word": "your ",
                    "start": 120.18,
                    "end": 120.53
                  },
                  {
                    "word": "email ",
                    "start": 120.53,
                    "end": 120.88
                  },
                  {
                    "word": "address, ",
                    "start": 120.88,
                    "end": 121.23
                  },
                  {
                    "word": "please?",
                    "start": 121.23,
                    "end": 121.58
                  }
                ],
                "metadata": {
                  "response_id": 10
                }
              },
              {
                "role": "user",
                "content": "My email is n o s h I n t h s n I m k h k n at the rate of gmail dot com",
                "words": [
                  {
                    "word": "My ",
                    "start": 123.506,
                    "end": 123.82600000000001
                  },
                  {
                    "word": "email ",
                    "start": 123.82600000000001,
                    "end": 124.226
                  },
                  {
                    "word": "is ",
                    "start": 124.226,
                    "end": 124.62599
                  },
                  {
                    "word": "n ",
                    "start": 126.456,
                    "end": 126.77600000000001
                  },
                  {
                    "word": "o ",
                    "start": 126.77600000000001,
                    "end": 127.096
                  },
                  {
                    "word": "s ",
                    "start": 127.096,
                    "end": 127.496004
                  },
                  {
                    "word": "h ",
                    "start": 127.496004,
                    "end": 127.816
                  },
                  {
                    "word": "I ",
                    "start": 127.816,
                    "end": 128.136
                  },
                  {
                    "word": "n ",
                    "start": 128.136,
                    "end": 128.61601
                  },
                  {
                    "word": "t ",
                    "start": 128.61601,
                    "end": 128.936
                  },
                  {
                    "word": "h ",
                    "start": 128.936,
                    "end": 129.096
                  },
                  {
                    "word": "s ",
                    "start": 129.186,
                    "end": 129.666
                  },
                  {
                    "word": "n ",
                    "start": 129.666,
                    "end": 130.066
                  },
                  {
                    "word": "I ",
                    "start": 130.066,
                    "end": 130.386
                  },
                  {
                    "word": "m ",
                    "start": 130.386,
                    "end": 130.86599
                  },
                  {
                    "word": "k ",
                    "start": 130.86599,
                    "end": 131.106
                  },
                  {
                    "word": "h ",
                    "start": 131.106,
                    "end": 131.42600000000002
                  },
                  {
                    "word": "k ",
                    "start": 131.42600000000002,
                    "end": 131.666
                  },
                  {
                    "word": "n ",
                    "start": 131.666,
                    "end": 131.98600000000002
                  },
                  {
                    "word": "at ",
                    "start": 131.98600000000002,
                    "end": 132.306
                  },
                  {
                    "word": "the ",
                    "start": 132.306,
                    "end": 132.466
                  },
                  {
                    "word": "rate ",
                    "start": 132.466,
                    "end": 132.626
                  },
                  {
                    "word": "of ",
                    "start": 132.626,
                    "end": 132.786
                  },
                  {
                    "word": "gmail ",
                    "start": 132.786,
                    "end": 133.106
                  },
                  {
                    "word": "dot ",
                    "start": 133.106,
                    "end": 133.42600000000002
                  },
                  {
                    "word": "com",
                    "start": 133.42600000000002,
                    "end": 133.586
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Let me repeat that to make sure I got it right: N-O-S-H-I-N-T-A-S-N-I-M-K-H-A-N at gmail.com. Your email is naushintasnimkhan@gmail.com, correct?",
                "words": [
                  {
                    "word": "Let ",
                    "start": 138.055,
                    "end": 138.405
                  },
                  {
                    "word": "me ",
                    "start": 138.405,
                    "end": 138.755
                  },
                  {
                    "word": "repeat ",
                    "start": 138.755,
                    "end": 139.105
                  },
                  {
                    "word": "that ",
                    "start": 139.105,
                    "end": 139.455
                  },
                  {
                    "word": "to ",
                    "start": 139.455,
                    "end": 139.805
                  },
                  {
                    "word": "make ",
                    "start": 139.805,
                    "end": 140.155
                  },
                  {
                    "word": "sure ",
                    "start": 140.155,
                    "end": 140.505
                  },
                  {
                    "word": "I ",
                    "start": 140.505,
                    "end": 140.855
                  },
                  {
                    "word": "got ",
                    "start": 140.855,
                    "end": 141.205
                  },
                  {
                    "word": "it ",
                    "start": 141.205,
                    "end": 141.555
                  },
                  {
                    "word": "right: ",
                    "start": 141.555,
                    "end": 141.905
                  },
                  {
                    "word": "N-O-S-H-I-N-T-A-S-N-I-M-K-H-A-",
                    "start": 141.905,
                    "end": 142.255
                  },
                  {
                    "word": "N ",
                    "start": 142.255,
                    "end": 142.605
                  },
                  {
                    "word": "at ",
                    "start": 142.605,
                    "end": 142.955
                  },
                  {
                    "word": "gmail.com. ",
                    "start": 142.955,
                    "end": 143.305
                  },
                  {
                    "word": "Your",
                    "start": 143.305,
                    "end": 143.655
                  },
                  {
                    "word": " email ",
                    "start": 143.655,
                    "end": 144.005
                  },
                  {
                    "word": "is ",
                    "start": 144.005,
                    "end": 144.355
                  },
                  {
                    "word": "naushintasn",
                    "start": 144.355,
                    "end": 144.705
                  },
                  {
                    "word": "imkhan@gmail.com, ",
                    "start": 144.705,
                    "end": 145.055
                  },
                  {
                    "word": "correct?",
                    "start": 145.055,
                    "end": 145.405
                  }
                ],
                "metadata": {
                  "response_id": 11
                }
              },
              {
                "role": "user",
                "content": "Correct.",
                "words": [
                  {
                    "word": "Correct.",
                    "start": 152.73600000000002,
                    "end": 153.13601
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Perfect. Now let's find a time for your appointment. You ",
                "words": [
                  {
                    "word": "Perfect.",
                    "start": 155.472,
                    "end": 155.822
                  },
                  {
                    "word": " Now ",
                    "start": 155.822,
                    "end": 156.172
                  },
                  {
                    "word": "let's ",
                    "start": 156.172,
                    "end": 156.522
                  },
                  {
                    "word": "find ",
                    "start": 156.522,
                    "end": 156.872
                  },
                  {
                    "word": "a ",
                    "start": 156.872,
                    "end": 157.222
                  },
                  {
                    "word": "time ",
                    "start": 157.222,
                    "end": 157.572
                  },
                  {
                    "word": "for ",
                    "start": 157.572,
                    "end": 157.922
                  },
                  {
                    "word": "your ",
                    "start": 157.922,
                    "end": 158.272
                  },
                  {
                    "word": "appointment. ",
                    "start": 158.272,
                    "end": 158.622
                  },
                  {
                    "word": "You ",
                    "start": 158.622,
                    "end": 158.972
                  }
                ],
                "metadata": {
                  "response_id": 12
                }
              },
              {
                "role": "agent",
                "content": "mentioned ",
                "words": [
                  {
                    "word": "mentioned ",
                    "start": 158.972,
                    "end": 159.322
                  }
                ],
                "metadata": {
                  "response_id": 12
                }
              },
              {
                "role": "agent",
                "content": "tomorrow at 10 a.m. ",
                "words": [
                  {
                    "word": "tomorrow ",
                    "start": 159.322,
                    "end": 159.672
                  },
                  {
                    "word": "at ",
                    "start": 159.672,
                    "end": 160.022
                  },
                  {
                    "word": "10 ",
                    "start": 160.022,
                    "end": 160.372
                  },
                  {
                    "word": "a.m. ",
                    "start": 160.372,
                    "end": 160.722
                  }
                ],
                "metadata": {
                  "response_id": 12
                }
              },
              {
                "role": "agent",
                "content": "your local time in England. Let me check ",
                "words": [
                  {
                    "word": "your ",
                    "start": 160.722,
                    "end": 161.072
                  },
                  {
                    "word": "local ",
                    "start": 161.072,
                    "end": 161.422
                  },
                  {
                    "word": "time ",
                    "start": 161.422,
                    "end": 161.772
                  },
                  {
                    "word": "in ",
                    "start": 161.772,
                    "end": 162.122
                  },
                  {
                    "word": "England. ",
                    "start": 162.122,
                    "end": 162.472
                  },
                  {
                    "word": "Let ",
                    "start": 162.472,
                    "end": 162.822
                  },
                  {
                    "word": "me ",
                    "start": 162.822,
                    "end": 163.172
                  },
                  {
                    "word": "check ",
                    "start": 163.172,
                    "end": 163.522
                  }
                ],
                "metadata": {
                  "response_id": 12
                }
              },
              {
                "role": "agent",
                "content": "if that time in Italy (Rome) is available.Your appointment is confirmed for tomorrow at 10 a.m. UK time. You'll receive a confirmation email shortly.",
                "words": [
                  {
                    "word": "if ",
                    "start": 163.522,
                    "end": 163.872
                  },
                  {
                    "word": "that ",
                    "start": 163.872,
                    "end": 164.222
                  },
                  {
                    "word": "time ",
                    "start": 164.222,
                    "end": 164.572
                  },
                  {
                    "word": "in ",
                    "start": 164.572,
                    "end": 164.922
                  },
                  {
                    "word": "Italy ",
                    "start": 164.922,
                    "end": 165.272
                  },
                  {
                    "word": "(Rome) ",
                    "start": 165.272,
                    "end": 165.622
                  },
                  {
                    "word": "is ",
                    "start": 165.622,
                    "end": 165.972
                  },
                  {
                    "word": "available.Your ",
                    "start": 165.972,
                    "end": 166.322
                  },
                  {
                    "word": "appointment ",
                    "start": 166.322,
                    "end": 166.672
                  },
                  {
                    "word": "is ",
                    "start": 166.672,
                    "end": 167.022
                  },
                  {
                    "word": "confirmed ",
                    "start": 167.022,
                    "end": 167.372
                  },
                  {
                    "word": "for ",
                    "start": 167.372,
                    "end": 167.722
                  },
                  {
                    "word": "tomorrow ",
                    "start": 167.722,
                    "end": 168.072
                  },
                  {
                    "word": "at ",
                    "start": 168.072,
                    "end": 168.422
                  },
                  {
                    "word": "10 ",
                    "start": 168.422,
                    "end": 168.772
                  },
                  {
                    "word": "a.m. ",
                    "start": 168.772,
                    "end": 169.122
                  },
                  {
                    "word": "UK ",
                    "start": 169.122,
                    "end": 169.472
                  },
                  {
                    "word": "time. ",
                    "start": 169.472,
                    "end": 169.822
                  },
                  {
                    "word": "You'll ",
                    "start": 169.822,
                    "end": 170.172
                  },
                  {
                    "word": "receive ",
                    "start": 170.172,
                    "end": 170.522
                  },
                  {
                    "word": "a ",
                    "start": 170.522,
                    "end": 170.872
                  },
                  {
                    "word": "confirmation ",
                    "start": 170.872,
                    "end": 171.222
                  },
                  {
                    "word": "email ",
                    "start": 171.222,
                    "end": 171.572
                  },
                  {
                    "word": "shortly.",
                    "start": 171.572,
                    "end": 171.922
                  }
                ],
                "metadata": {
                  "response_id": 12
                }
              },
              {
                "role": "user",
                "content": "Okay. Thank you.",
                "words": [
                  {
                    "word": "Okay. ",
                    "start": 175.586,
                    "end": 176.06599
                  },
                  {
                    "word": "Thank ",
                    "start": 176.06599,
                    "end": 176.22599
                  },
                  {
                    "word": "you.",
                    "start": 176.22599,
                    "end": 176.386
                  }
                ]
              },
              {
                "role": "agent",
                "content": "You're welcome! Have a great day, and feel free to reach out if you need any more help. Goodbye!",
                "words": [
                  {
                    "word": "You're ",
                    "start": 179.404125,
                    "end": 179.7677614746094
                  },
                  {
                    "word": "welcome! ",
                    "start": 179.7677614746094,
                    "end": 180.13139770507811
                  },
                  {
                    "word": "Have ",
                    "start": 181.091125,
                    "end": 181.45476147460937
                  },
                  {
                    "word": "a ",
                    "start": 181.45476147460937,
                    "end": 181.81839770507813
                  },
                  {
                    "word": "great ",
                    "start": 181.81839770507813,
                    "end": 182.1820341796875
                  },
                  {
                    "word": "day, ",
                    "start": 182.1820341796875,
                    "end": 182.54567041015625
                  },
                  {
                    "word": "and ",
                    "start": 182.54567041015625,
                    "end": 182.9093068847656
                  },
                  {
                    "word": "feel ",
                    "start": 182.9093068847656,
                    "end": 183.27294311523437
                  },
                  {
                    "word": "free ",
                    "start": 183.27294311523437,
                    "end": 183.63657958984376
                  },
                  {
                    "word": "to ",
                    "start": 183.63657958984376,
                    "end": 184.0002158203125
                  },
                  {
                    "word": "reach ",
                    "start": 183.8204052734375,
                    "end": 184.18404174804687
                  },
                  {
                    "word": "out ",
                    "start": 183.8204052734375,
                    "end": 184.18404174804687
                  },
                  {
                    "word": "if ",
                    "start": 183.8204052734375,
                    "end": 184.18404174804687
                  },
                  {
                    "word": "you ",
                    "start": 183.8204052734375,
                    "end": 184.18404174804687
                  },
                  {
                    "word": "need ",
                    "start": 183.8204052734375,
                    "end": 184.18404174804687
                  },
                  {
                    "word": "any ",
                    "start": 183.8204052734375,
                    "end": 184.18404174804687
                  },
                  {
                    "word": "more ",
                    "start": 183.8204052734375,
                    "end": 184.18404174804687
                  },
                  {
                    "word": "help. ",
                    "start": 183.8204052734375,
                    "end": 184.18404174804687
                  },
                  {
                    "word": "Goodbye!",
                    "start": 184.18404174804687,
                    "end": 184.54767797851562
                  }
                ],
                "metadata": {
                  "response_id": 13
                }
              }
            ],
            "transcript_with_tool_calls": [
              {
                "role": "agent",
                "content": "Hey! I'm Lexi.  Sonaro AI's voice assistant.  Go ahead and ask me anything.",
                "words": [
                  {
                    "word": "Hey! ",
                    "start": 0.687,
                    "end": 1.050636474609375
                  },
                  {
                    "word": "I'm ",
                    "start": 1.380125,
                    "end": 1.743761474609375
                  },
                  {
                    "word": "Lexi. ",
                    "start": 1.743761474609375,
                    "end": 2.107397705078125
                  },
                  {
                    "word": " Sonaro ",
                    "start": 2.107397705078125,
                    "end": 2.4710341796875
                  },
                  {
                    "word": "AI's ",
                    "start": 2.4710341796875,
                    "end": 2.83467041015625
                  },
                  {
                    "word": "voice ",
                    "start": 2.83467041015625,
                    "end": 3.198306884765625
                  },
                  {
                    "word": "assistant. ",
                    "start": 3.198306884765625,
                    "end": 3.561943115234375
                  },
                  {
                    "word": " ",
                    "start": 3.561943115234375,
                    "end": 3.92557958984375
                  },
                  {
                    "word": "Go ",
                    "start": 4.164916748046875,
                    "end": 4.528552978515625
                  },
                  {
                    "word": "ahead ",
                    "start": 4.528552978515625,
                    "end": 4.892189453125
                  },
                  {
                    "word": "and ",
                    "start": 4.892189453125,
                    "end": 5.25582568359375
                  },
                  {
                    "word": "ask ",
                    "start": 5.25582568359375,
                    "end": 5.619462158203125
                  },
                  {
                    "word": "me ",
                    "start": 5.619462158203125,
                    "end": 5.983098388671875
                  },
                  {
                    "word": "anything.",
                    "start": 5.983098388671875,
                    "end": 6.34673486328125
                  }
                ],
                "metadata": {
                  "response_id": 0
                }
              },
              {
                "role": "user",
                "content": "Hello. I want to book an appointment with your teammates.",
                "words": [
                  {
                    "word": "Hello. ",
                    "start": 7.7459999999999996,
                    "end": 8.225999700000001
                  },
                  {
                    "word": "I ",
                    "start": 8.586,
                    "end": 8.826
                  },
                  {
                    "word": "want ",
                    "start": 8.826,
                    "end": 9.226
                  },
                  {
                    "word": "to ",
                    "start": 9.226,
                    "end": 9.545999
                  },
                  {
                    "word": "book ",
                    "start": 9.545999,
                    "end": 9.866000000000001
                  },
                  {
                    "word": "an ",
                    "start": 9.866000000000001,
                    "end": 10.186
                  },
                  {
                    "word": "appointment ",
                    "start": 10.186,
                    "end": 10.746
                  },
                  {
                    "word": "with ",
                    "start": 10.746,
                    "end": 10.986
                  },
                  {
                    "word": "your ",
                    "start": 10.986,
                    "end": 11.146
                  },
                  {
                    "word": "teammates.",
                    "start": 11.146,
                    "end": 11.625999
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Hello! This is Sonaro AI Assistant. May I know which country you're calling from?",
                "words": [
                  {
                    "word": "Hello!",
                    "start": 13.706,
                    "end": 14.056
                  },
                  {
                    "word": " This ",
                    "start": 14.056,
                    "end": 14.406
                  },
                  {
                    "word": "is ",
                    "start": 14.406,
                    "end": 14.756
                  },
                  {
                    "word": "Sonaro ",
                    "start": 14.756,
                    "end": 15.106
                  },
                  {
                    "word": "AI ",
                    "start": 15.106,
                    "end": 15.456
                  },
                  {
                    "word": "Assistant. ",
                    "start": 15.456,
                    "end": 15.806
                  },
                  {
                    "word": "May ",
                    "start": 15.806,
                    "end": 16.156
                  },
                  {
                    "word": "I ",
                    "start": 16.156,
                    "end": 16.506
                  },
                  {
                    "word": "know ",
                    "start": 16.506,
                    "end": 16.856
                  },
                  {
                    "word": "which ",
                    "start": 16.856,
                    "end": 17.206
                  },
                  {
                    "word": "country ",
                    "start": 17.206,
                    "end": 17.556
                  },
                  {
                    "word": "you're ",
                    "start": 17.556,
                    "end": 17.906
                  },
                  {
                    "word": "calling ",
                    "start": 17.906,
                    "end": 18.256
                  },
                  {
                    "word": "from?",
                    "start": 18.256,
                    "end": 18.606
                  }
                ],
                "metadata": {
                  "response_id": 1
                }
              },
              {
                "role": "user",
                "content": "I'm from England.",
                "words": [
                  {
                    "word": "I'm ",
                    "start": 20.176,
                    "end": 21.215999999999998
                  },
                  {
                    "word": "from ",
                    "start": 21.215999999999998,
                    "end": 21.935999
                  },
                  {
                    "word": "England.",
                    "start": 22.336,
                    "end": 22.816
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Thanks for letting me know. Which language do you prefer to speak?",
                "words": [
                  {
                    "word": "Thanks ",
                    "start": 25.21,
                    "end": 25.56
                  },
                  {
                    "word": "for ",
                    "start": 25.56,
                    "end": 25.91
                  },
                  {
                    "word": "letting ",
                    "start": 25.91,
                    "end": 26.26
                  },
                  {
                    "word": "me ",
                    "start": 26.26,
                    "end": 26.61
                  },
                  {
                    "word": "know. ",
                    "start": 26.61,
                    "end": 26.96
                  },
                  {
                    "word": "Which ",
                    "start": 26.96,
                    "end": 27.31
                  },
                  {
                    "word": "language ",
                    "start": 27.31,
                    "end": 27.66
                  },
                  {
                    "word": "do ",
                    "start": 27.66,
                    "end": 28.01
                  },
                  {
                    "word": "you ",
                    "start": 28.01,
                    "end": 28.36
                  },
                  {
                    "word": "prefer ",
                    "start": 28.36,
                    "end": 28.71
                  },
                  {
                    "word": "to ",
                    "start": 28.71,
                    "end": 29.06
                  },
                  {
                    "word": "speak?",
                    "start": 29.06,
                    "end": 29.41
                  }
                ],
                "metadata": {
                  "response_id": 2
                }
              },
              {
                "role": "user",
                "content": "English will be the best.",
                "words": [
                  {
                    "word": "English ",
                    "start": 30.536001,
                    "end": 31.016
                  },
                  {
                    "word": "will ",
                    "start": 31.016,
                    "end": 31.256
                  },
                  {
                    "word": "be ",
                    "start": 31.256,
                    "end": 31.496
                  },
                  {
                    "word": "the ",
                    "start": 31.496,
                    "end": 31.576
                  },
                  {
                    "word": "best.",
                    "start": 31.576,
                    "end": 31.895999999999997
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Great, we'll continue in English. What industry is your business in?",
                "words": [
                  {
                    "word": "Great, ",
                    "start": 33.938,
                    "end": 34.288
                  },
                  {
                    "word": "we'll ",
                    "start": 34.288,
                    "end": 34.638
                  },
                  {
                    "word": "continue ",
                    "start": 34.638,
                    "end": 34.988
                  },
                  {
                    "word": "in ",
                    "start": 34.988,
                    "end": 35.338
                  },
                  {
                    "word": "English. ",
                    "start": 35.338,
                    "end": 35.688
                  },
                  {
                    "word": "What ",
                    "start": 35.688,
                    "end": 36.038
                  },
                  {
                    "word": "industry ",
                    "start": 36.038,
                    "end": 36.388
                  },
                  {
                    "word": "is ",
                    "start": 36.388,
                    "end": 36.738
                  },
                  {
                    "word": "your ",
                    "start": 36.738,
                    "end": 37.088
                  },
                  {
                    "word": "business ",
                    "start": 37.088,
                    "end": 37.438
                  },
                  {
                    "word": "in?",
                    "start": 37.438,
                    "end": 37.788
                  }
                ],
                "metadata": {
                  "response_id": 3
                }
              },
              {
                "role": "user",
                "content": "I have a restaurant business",
                "words": [
                  {
                    "word": "I ",
                    "start": 38.826001999999995,
                    "end": 39.065999999999995
                  },
                  {
                    "word": "have ",
                    "start": 39.065999999999995,
                    "end": 39.306
                  },
                  {
                    "word": "a ",
                    "start": 39.306,
                    "end": 39.466
                  },
                  {
                    "word": "restaurant ",
                    "start": 39.466,
                    "end": 39.946
                  },
                  {
                    "word": "business",
                    "start": 39.946,
                    "end": 40.506002
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Thank you. Do most of your calls go unanswered or to voicemail?",
                "words": [
                  {
                    "word": "Thank ",
                    "start": 42.608,
                    "end": 42.958
                  },
                  {
                    "word": "you. ",
                    "start": 42.958,
                    "end": 43.308
                  },
                  {
                    "word": "Do ",
                    "start": 43.308,
                    "end": 43.658
                  },
                  {
                    "word": "most ",
                    "start": 43.658,
                    "end": 44.008
                  },
                  {
                    "word": "of ",
                    "start": 44.008,
                    "end": 44.358
                  },
                  {
                    "word": "your ",
                    "start": 44.358,
                    "end": 44.708
                  },
                  {
                    "word": "calls ",
                    "start": 44.708,
                    "end": 45.058
                  },
                  {
                    "word": "go ",
                    "start": 45.058,
                    "end": 45.408
                  },
                  {
                    "word": "unanswered ",
                    "start": 45.408,
                    "end": 45.758
                  },
                  {
                    "word": "or ",
                    "start": 45.758,
                    "end": 46.108
                  },
                  {
                    "word": "to ",
                    "start": 46.108,
                    "end": 46.458
                  },
                  {
                    "word": "voicemail?",
                    "start": 46.208,
                    "end": 46.558
                  }
                ],
                "metadata": {
                  "response_id": 4
                }
              },
              {
                "role": "user",
                "content": "Yes.",
                "words": [
                  {
                    "word": "Yes.",
                    "start": 48.515997,
                    "end": 49.156
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Understood. Here’s how we can help: you’ll never miss a call, we answer customers in under 10 seconds, every call is logged automatically, and we can integrate with your calendar or CRM. If you have 10 to 15 minutes, I can schedule a call with our team to review a tailored plan, pricing, and setup. What day works best for you?",
                "words": [
                  {
                    "word": "Understood.",
                    "start": 51.342,
                    "end": 51.692
                  },
                  {
                    "word": " Here",
                    "start": 51.692,
                    "end": 52.042
                  },
                  {
                    "word": "’s ",
                    "start": 52.042,
                    "end": 52.392
                  },
                  {
                    "word": "how ",
                    "start": 52.392,
                    "end": 52.742
                  },
                  {
                    "word": "we ",
                    "start": 52.742,
                    "end": 53.092
                  },
                  {
                    "word": "can ",
                    "start": 53.092,
                    "end": 53.442
                  },
                  {
                    "word": "help: ",
                    "start": 53.442,
                    "end": 53.792
                  },
                  {
                    "word": "you’ll ",
                    "start": 53.792,
                    "end": 54.142
                  },
                  {
                    "word": "never ",
                    "start": 54.142,
                    "end": 54.492
                  },
                  {
                    "word": "miss ",
                    "start": 54.492,
                    "end": 54.842
                  },
                  {
                    "word": "a ",
                    "start": 54.842,
                    "end": 55.192
                  },
                  {
                    "word": "call, ",
                    "start": 55.192,
                    "end": 55.542
                  },
                  {
                    "word": "we ",
                    "start": 55.542,
                    "end": 55.892
                  },
                  {
                    "word": "answer ",
                    "start": 55.892,
                    "end": 56.242
                  },
                  {
                    "word": "customers ",
                    "start": 56.242,
                    "end": 56.592
                  },
                  {
                    "word": "in ",
                    "start": 56.592,
                    "end": 56.942
                  },
                  {
                    "word": "under ",
                    "start": 56.942,
                    "end": 57.292
                  },
                  {
                    "word": "10 ",
                    "start": 57.292,
                    "end": 57.642
                  },
                  {
                    "word": "seconds, ",
                    "start": 57.642,
                    "end": 57.992
                  },
                  {
                    "word": "every ",
                    "start": 57.992,
                    "end": 58.342
                  },
                  {
                    "word": "call ",
                    "start": 58.342,
                    "end": 58.692
                  },
                  {
                    "word": "is ",
                    "start": 58.692,
                    "end": 59.042
                  },
                  {
                    "word": "logged ",
                    "start": 59.042,
                    "end": 59.392
                  },
                  {
                    "word": "automatically, ",
                    "start": 59.392,
                    "end": 59.742
                  },
                  {
                    "word": "and ",
                    "start": 59.742,
                    "end": 60.092
                  },
                  {
                    "word": "we ",
                    "start": 60.092,
                    "end": 60.442
                  },
                  {
                    "word": "can ",
                    "start": 60.442,
                    "end": 60.792
                  },
                  {
                    "word": "integrate ",
                    "start": 60.792,
                    "end": 61.142
                  },
                  {
                    "word": "with ",
                    "start": 61.142,
                    "end": 61.492
                  },
                  {
                    "word": "your ",
                    "start": 61.492,
                    "end": 61.842
                  },
                  {
                    "word": "calendar ",
                    "start": 61.842,
                    "end": 62.192
                  },
                  {
                    "word": "or ",
                    "start": 62.192,
                    "end": 62.542
                  },
                  {
                    "word": "CRM. ",
                    "start": 62.542,
                    "end": 62.892
                  },
                  {
                    "word": "If ",
                    "start": 62.892,
                    "end": 63.242
                  },
                  {
                    "word": "you ",
                    "start": 63.242,
                    "end": 63.592
                  },
                  {
                    "word": "have ",
                    "start": 63.592,
                    "end": 63.942
                  },
                  {
                    "word": "10 ",
                    "start": 63.942,
                    "end": 64.292
                  },
                  {
                    "word": "to ",
                    "start": 64.292,
                    "end": 64.642
                  },
                  {
                    "word": "15 ",
                    "start": 64.642,
                    "end": 64.992
                  },
                  {
                    "word": "minutes, ",
                    "start": 64.992,
                    "end": 65.342
                  },
                  {
                    "word": "I ",
                    "start": 65.342,
                    "end": 65.692
                  },
                  {
                    "word": "can ",
                    "start": 65.692,
                    "end": 66.042
                  },
                  {
                    "word": "schedule ",
                    "start": 66.042,
                    "end": 66.392
                  },
                  {
                    "word": "a ",
                    "start": 66.392,
                    "end": 66.742
                  },
                  {
                    "word": "call ",
                    "start": 66.742,
                    "end": 67.092
                  },
                  {
                    "word": "with ",
                    "start": 67.092,
                    "end": 67.442
                  },
                  {
                    "word": "our ",
                    "start": 67.442,
                    "end": 67.792
                  },
                  {
                    "word": "team ",
                    "start": 67.792,
                    "end": 68.142
                  },
                  {
                    "word": "to ",
                    "start": 68.142,
                    "end": 68.492
                  },
                  {
                    "word": "review ",
                    "start": 68.492,
                    "end": 68.842
                  },
                  {
                    "word": "a ",
                    "start": 68.842,
                    "end": 69.192
                  },
                  {
                    "word": "tailored ",
                    "start": 69.192,
                    "end": 69.542
                  },
                  {
                    "word": "plan, ",
                    "start": 69.542,
                    "end": 69.892
                  },
                  {
                    "word": "pricing, ",
                    "start": 69.892,
                    "end": 70.242
                  },
                  {
                    "word": "and ",
                    "start": 70.242,
                    "end": 70.592
                  },
                  {
                    "word": "setup. ",
                    "start": 70.592,
                    "end": 70.942
                  },
                  {
                    "word": "What ",
                    "start": 70.942,
                    "end": 71.292
                  },
                  {
                    "word": "day ",
                    "start": 71.292,
                    "end": 71.642
                  },
                  {
                    "word": "works ",
                    "start": 71.642,
                    "end": 71.992
                  },
                  {
                    "word": "best ",
                    "start": 71.992,
                    "end": 72.342
                  },
                  {
                    "word": "for ",
                    "start": 72.342,
                    "end": 72.692
                  },
                  {
                    "word": "you?",
                    "start": 72.692,
                    "end": 73.042
                  }
                ],
                "metadata": {
                  "response_id": 5
                }
              },
              {
                "role": "user",
                "content": "Tomorrow, ten AM.",
                "words": [
                  {
                    "word": "Tomorrow, ",
                    "start": 76.046,
                    "end": 77.006
                  },
                  {
                    "word": "ten ",
                    "start": 77.16599500000001,
                    "end": 77.485994
                  },
                  {
                    "word": "AM.",
                    "start": 77.485994,
                    "end": 77.80599400000001
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Sure, let's get a few details first. May I have your name?",
                "words": [
                  {
                    "word": "Sure,",
                    "start": 79.875,
                    "end": 80.225
                  },
                  {
                    "word": " let's ",
                    "start": 80.225,
                    "end": 80.575
                  },
                  {
                    "word": "get ",
                    "start": 80.575,
                    "end": 80.925
                  },
                  {
                    "word": "a ",
                    "start": 80.925,
                    "end": 81.275
                  },
                  {
                    "word": "few ",
                    "start": 81.275,
                    "end": 81.625
                  },
                  {
                    "word": "details ",
                    "start": 81.625,
                    "end": 81.975
                  },
                  {
                    "word": "first. ",
                    "start": 81.975,
                    "end": 82.325
                  },
                  {
                    "word": "May ",
                    "start": 82.325,
                    "end": 82.675
                  },
                  {
                    "word": "I ",
                    "start": 82.675,
                    "end": 83.025
                  },
                  {
                    "word": "have ",
                    "start": 83.025,
                    "end": 83.375
                  },
                  {
                    "word": "your ",
                    "start": 83.275,
                    "end": 83.625
                  },
                  {
                    "word": "name?",
                    "start": 83.275,
                    "end": 83.625
                  }
                ],
                "metadata": {
                  "response_id": 6
                }
              },
              {
                "role": "user",
                "content": "Don't you ask my time soon?",
                "words": [
                  {
                    "word": "Don't ",
                    "start": 89.87599,
                    "end": 90.27599500000001
                  },
                  {
                    "word": "you ",
                    "start": 90.27599500000001,
                    "end": 90.436
                  },
                  {
                    "word": "ask ",
                    "start": 90.436,
                    "end": 91.15599
                  },
                  {
                    "word": "my ",
                    "start": 91.156,
                    "end": 91.55599400000001
                  },
                  {
                    "word": "time ",
                    "start": 91.55599400000001,
                    "end": 91.955995
                  },
                  {
                    "word": "soon?",
                    "start": 91.955995,
                    "end": 92.27599500000001
                  }
                ]
              },
              {
                "role": "agent",
                "content": "You're right, since you're calling from England, I'll use that time zone. Now, could you please share your name?",
                "words": [
                  {
                    "word": "You're ",
                    "start": 94.06,
                    "end": 94.41
                  },
                  {
                    "word": "right, ",
                    "start": 94.41,
                    "end": 94.76
                  },
                  {
                    "word": "since ",
                    "start": 94.76,
                    "end": 95.11
                  },
                  {
                    "word": "you're ",
                    "start": 95.11,
                    "end": 95.46
                  },
                  {
                    "word": "calling ",
                    "start": 95.46,
                    "end": 95.81
                  },
                  {
                    "word": "from ",
                    "start": 95.81,
                    "end": 96.16
                  },
                  {
                    "word": "England, ",
                    "start": 96.16,
                    "end": 96.51
                  },
                  {
                    "word": "I'll ",
                    "start": 96.51,
                    "end": 96.86
                  },
                  {
                    "word": "use ",
                    "start": 96.86,
                    "end": 97.21
                  },
                  {
                    "word": "that ",
                    "start": 97.21,
                    "end": 97.56
                  },
                  {
                    "word": "time ",
                    "start": 97.56,
                    "end": 97.91
                  },
                  {
                    "word": "zone. ",
                    "start": 97.91,
                    "end": 98.26
                  },
                  {
                    "word": "Now, ",
                    "start": 98.26,
                    "end": 98.61
                  },
                  {
                    "word": "could ",
                    "start": 98.61,
                    "end": 98.96
                  },
                  {
                    "word": "you ",
                    "start": 98.96,
                    "end": 99.31
                  },
                  {
                    "word": "please ",
                    "start": 99.31,
                    "end": 99.66
                  },
                  {
                    "word": "share ",
                    "start": 99.66,
                    "end": 100.01
                  },
                  {
                    "word": "your ",
                    "start": 99.86,
                    "end": 100.21
                  },
                  {
                    "word": "name?",
                    "start": 99.86,
                    "end": 100.21
                  }
                ],
                "metadata": {
                  "response_id": 7
                }
              },
              {
                "role": "user",
                "content": "My name is Naoshin.",
                "words": [
                  {
                    "word": "My ",
                    "start": 101.766,
                    "end": 102.006
                  },
                  {
                    "word": "name ",
                    "start": 102.006,
                    "end": 102.24600000000001
                  },
                  {
                    "word": "is ",
                    "start": 102.24600000000001,
                    "end": 102.406
                  },
                  {
                    "word": "Naoshin.",
                    "start": 102.406,
                    "end": 103.046
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Thank you, Naushin. Let me confirm I got that right. Your name is Naushin, correct?",
                "words": [
                  {
                    "word": "Thank ",
                    "start": 105.071,
                    "end": 105.421
                  },
                  {
                    "word": "you, ",
                    "start": 105.421,
                    "end": 105.771
                  },
                  {
                    "word": "Naushin. ",
                    "start": 105.771,
                    "end": 106.121
                  },
                  {
                    "word": "Let ",
                    "start": 106.121,
                    "end": 106.471
                  },
                  {
                    "word": "me ",
                    "start": 106.471,
                    "end": 106.821
                  },
                  {
                    "word": "confirm ",
                    "start": 106.821,
                    "end": 107.171
                  },
                  {
                    "word": "I ",
                    "start": 107.171,
                    "end": 107.521
                  },
                  {
                    "word": "got ",
                    "start": 107.521,
                    "end": 107.871
                  },
                  {
                    "word": "that ",
                    "start": 107.871,
                    "end": 108.221
                  },
                  {
                    "word": "right. ",
                    "start": 108.221,
                    "end": 108.571
                  },
                  {
                    "word": "Your ",
                    "start": 108.571,
                    "end": 108.921
                  },
                  {
                    "word": "name ",
                    "start": 108.921,
                    "end": 109.271
                  },
                  {
                    "word": "is ",
                    "start": 109.271,
                    "end": 109.621
                  },
                  {
                    "word": "Naushin, ",
                    "start": 109.621,
                    "end": 109.971
                  },
                  {
                    "word": "correct?",
                    "start": 109.971,
                    "end": 110.321
                  }
                ],
                "metadata": {
                  "response_id": 8
                }
              },
              {
                "role": "user",
                "content": "Is Nocin, n o s h I n.",
                "words": [
                  {
                    "word": "Is ",
                    "start": 112.116,
                    "end": 112.436
                  },
                  {
                    "word": "Nocin, ",
                    "start": 112.926004,
                    "end": 113.96600000000001
                  },
                  {
                    "word": "n ",
                    "start": 113.96600000000001,
                    "end": 114.206
                  },
                  {
                    "word": "o ",
                    "start": 114.206,
                    "end": 114.44600000000001
                  },
                  {
                    "word": "s ",
                    "start": 114.44600000000001,
                    "end": 114.766
                  },
                  {
                    "word": "h ",
                    "start": 114.766,
                    "end": 115.08600000000001
                  },
                  {
                    "word": "I ",
                    "start": 115.08600000000001,
                    "end": 115.406
                  },
                  {
                    "word": "n.",
                    "start": 115.406,
                    "end": 115.646
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Got it, Naushin. Now, may I have your email address, please?",
                "words": [
                  {
                    "word": "Got ",
                    "start": 117.73,
                    "end": 118.08
                  },
                  {
                    "word": "it, ",
                    "start": 118.08,
                    "end": 118.43
                  },
                  {
                    "word": "Naushin. ",
                    "start": 118.43,
                    "end": 118.78
                  },
                  {
                    "word": "Now, ",
                    "start": 118.78,
                    "end": 119.13
                  },
                  {
                    "word": "may ",
                    "start": 119.13,
                    "end": 119.48
                  },
                  {
                    "word": "I ",
                    "start": 119.48,
                    "end": 119.83
                  },
                  {
                    "word": "have ",
                    "start": 119.83,
                    "end": 120.18
                  },
                  {
                    "word": "your ",
                    "start": 120.18,
                    "end": 120.53
                  },
                  {
                    "word": "email ",
                    "start": 120.53,
                    "end": 120.88
                  },
                  {
                    "word": "address, ",
                    "start": 120.88,
                    "end": 121.23
                  },
                  {
                    "word": "please?",
                    "start": 121.23,
                    "end": 121.58
                  }
                ],
                "metadata": {
                  "response_id": 10
                }
              },
              {
                "role": "user",
                "content": "My email is n o s h I n t h s n I m k h k n at the rate of gmail dot com",
                "words": [
                  {
                    "word": "My ",
                    "start": 123.506,
                    "end": 123.82600000000001
                  },
                  {
                    "word": "email ",
                    "start": 123.82600000000001,
                    "end": 124.226
                  },
                  {
                    "word": "is ",
                    "start": 124.226,
                    "end": 124.62599
                  },
                  {
                    "word": "n ",
                    "start": 126.456,
                    "end": 126.77600000000001
                  },
                  {
                    "word": "o ",
                    "start": 126.77600000000001,
                    "end": 127.096
                  },
                  {
                    "word": "s ",
                    "start": 127.096,
                    "end": 127.496004
                  },
                  {
                    "word": "h ",
                    "start": 127.496004,
                    "end": 127.816
                  },
                  {
                    "word": "I ",
                    "start": 127.816,
                    "end": 128.136
                  },
                  {
                    "word": "n ",
                    "start": 128.136,
                    "end": 128.61601
                  },
                  {
                    "word": "t ",
                    "start": 128.61601,
                    "end": 128.936
                  },
                  {
                    "word": "h ",
                    "start": 128.936,
                    "end": 129.096
                  },
                  {
                    "word": "s ",
                    "start": 129.186,
                    "end": 129.666
                  },
                  {
                    "word": "n ",
                    "start": 129.666,
                    "end": 130.066
                  },
                  {
                    "word": "I ",
                    "start": 130.066,
                    "end": 130.386
                  },
                  {
                    "word": "m ",
                    "start": 130.386,
                    "end": 130.86599
                  },
                  {
                    "word": "k ",
                    "start": 130.86599,
                    "end": 131.106
                  },
                  {
                    "word": "h ",
                    "start": 131.106,
                    "end": 131.42600000000002
                  },
                  {
                    "word": "k ",
                    "start": 131.42600000000002,
                    "end": 131.666
                  },
                  {
                    "word": "n ",
                    "start": 131.666,
                    "end": 131.98600000000002
                  },
                  {
                    "word": "at ",
                    "start": 131.98600000000002,
                    "end": 132.306
                  },
                  {
                    "word": "the ",
                    "start": 132.306,
                    "end": 132.466
                  },
                  {
                    "word": "rate ",
                    "start": 132.466,
                    "end": 132.626
                  },
                  {
                    "word": "of ",
                    "start": 132.626,
                    "end": 132.786
                  },
                  {
                    "word": "gmail ",
                    "start": 132.786,
                    "end": 133.106
                  },
                  {
                    "word": "dot ",
                    "start": 133.106,
                    "end": 133.42600000000002
                  },
                  {
                    "word": "com",
                    "start": 133.42600000000002,
                    "end": 133.586
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Let me repeat that to make sure I got it right: N-O-S-H-I-N-T-A-S-N-I-M-K-H-A-N at gmail.com. Your email is naushintasnimkhan@gmail.com, correct?",
                "words": [
                  {
                    "word": "Let ",
                    "start": 138.055,
                    "end": 138.405
                  },
                  {
                    "word": "me ",
                    "start": 138.405,
                    "end": 138.755
                  },
                  {
                    "word": "repeat ",
                    "start": 138.755,
                    "end": 139.105
                  },
                  {
                    "word": "that ",
                    "start": 139.105,
                    "end": 139.455
                  },
                  {
                    "word": "to ",
                    "start": 139.455,
                    "end": 139.805
                  },
                  {
                    "word": "make ",
                    "start": 139.805,
                    "end": 140.155
                  },
                  {
                    "word": "sure ",
                    "start": 140.155,
                    "end": 140.505
                  },
                  {
                    "word": "I ",
                    "start": 140.505,
                    "end": 140.855
                  },
                  {
                    "word": "got ",
                    "start": 140.855,
                    "end": 141.205
                  },
                  {
                    "word": "it ",
                    "start": 141.205,
                    "end": 141.555
                  },
                  {
                    "word": "right: ",
                    "start": 141.555,
                    "end": 141.905
                  },
                  {
                    "word": "N-O-S-H-I-N-T-A-S-N-I-M-K-H-A-",
                    "start": 141.905,
                    "end": 142.255
                  },
                  {
                    "word": "N ",
                    "start": 142.255,
                    "end": 142.605
                  },
                  {
                    "word": "at ",
                    "start": 142.605,
                    "end": 142.955
                  },
                  {
                    "word": "gmail.com. ",
                    "start": 142.955,
                    "end": 143.305
                  },
                  {
                    "word": "Your",
                    "start": 143.305,
                    "end": 143.655
                  },
                  {
                    "word": " email ",
                    "start": 143.655,
                    "end": 144.005
                  },
                  {
                    "word": "is ",
                    "start": 144.005,
                    "end": 144.355
                  },
                  {
                    "word": "naushintasn",
                    "start": 144.355,
                    "end": 144.705
                  },
                  {
                    "word": "imkhan@gmail.com, ",
                    "start": 144.705,
                    "end": 145.055
                  },
                  {
                    "word": "correct?",
                    "start": 145.055,
                    "end": 145.405
                  }
                ],
                "metadata": {
                  "response_id": 11
                }
              },
              {
                "role": "user",
                "content": "Correct.",
                "words": [
                  {
                    "word": "Correct.",
                    "start": 152.73600000000002,
                    "end": 153.13601
                  }
                ]
              },
              {
                "role": "agent",
                "content": "Perfect. Now let's find a time for your appointment. You ",
                "words": [
                  {
                    "word": "Perfect.",
                    "start": 155.472,
                    "end": 155.822
                  },
                  {
                    "word": " Now ",
                    "start": 155.822,
                    "end": 156.172
                  },
                  {
                    "word": "let's ",
                    "start": 156.172,
                    "end": 156.522
                  },
                  {
                    "word": "find ",
                    "start": 156.522,
                    "end": 156.872
                  },
                  {
                    "word": "a ",
                    "start": 156.872,
                    "end": 157.222
                  },
                  {
                    "word": "time ",
                    "start": 157.222,
                    "end": 157.572
                  },
                  {
                    "word": "for ",
                    "start": 157.572,
                    "end": 157.922
                  },
                  {
                    "word": "your ",
                    "start": 157.922,
                    "end": 158.272
                  },
                  {
                    "word": "appointment. ",
                    "start": 158.272,
                    "end": 158.622
                  },
                  {
                    "word": "You ",
                    "start": 158.622,
                    "end": 158.972
                  }
                ],
                "metadata": {
                  "response_id": 12
                }
              },
              {
                "role": "tool_call_invocation",
                "tool_call_id": "call_cpWWpWqWZRkrngaK",
                "name": "check_availability_cal",
                "arguments": "{  \n  \"start_time\": \"2025-11-25T10:00:00\",  \n  \"end_time\": \"2025-11-25T11:00:00\",  \n  \"timezone\": \"Europe/London\",  \n  \"execution_message\": \"Checking availability for tomorrow at 10 a.m. your local time.\" \n}",
                "time_sec": 158.822,
                "type": "check_availability_cal"
              },
              {
                "role": "agent",
                "content": "mentioned ",
                "words": [
                  {
                    "word": "mentioned ",
                    "start": 158.972,
                    "end": 159.322
                  }
                ],
                "metadata": {
                  "response_id": 12
                }
              },
              {
                "role": "tool_call_result",
                "tool_call_id": "call_cpWWpWqWZRkrngaK",
                "content": "{\"availability_for_selected_time\":[{\"date\":\"Tuesday, 2025 November 11/25/2025 Greenwich Mean Time\",\"availability_range\":[\"From 10:00 AM to 11:00 AM\"]}]}",
                "time_sec": 159.075
              },
              {
                "role": "agent",
                "content": "tomorrow at 10 a.m. ",
                "words": [
                  {
                    "word": "tomorrow ",
                    "start": 159.322,
                    "end": 159.672
                  },
                  {
                    "word": "at ",
                    "start": 159.672,
                    "end": 160.022
                  },
                  {
                    "word": "10 ",
                    "start": 160.022,
                    "end": 160.372
                  },
                  {
                    "word": "a.m. ",
                    "start": 160.372,
                    "end": 160.722
                  }
                ],
                "metadata": {
                  "response_id": 12
                }
              },
              {
                "role": "tool_call_invocation",
                "tool_call_id": "call_yuU1zHtSisXnisHY",
                "name": "book_appointment_cal",
                "arguments": "{  \n  \"time\": \"2025-11-25T10:00:00\",  \n  \"timezone\": \"Europe/London\",  \n  \"name\": \"Naushin\",  \n  \"email\": \"naushintasnimkhan@gmail.com\",  \n  \"title\": \"Sonaro AI Team Call\",  \n  \"execution_message\": \"Your appointment is confirmed for tomorrow at 10 a.m. UK time. You'll receive a confirmation email shortly.\" \n}",
                "time_sec": 160.49,
                "type": "book_appointment_cal"
              },
              {
                "role": "agent",
                "content": "your local time in England. Let me check ",
                "words": [
                  {
                    "word": "your ",
                    "start": 160.722,
                    "end": 161.072
                  },
                  {
                    "word": "local ",
                    "start": 161.072,
                    "end": 161.422
                  },
                  {
                    "word": "time ",
                    "start": 161.422,
                    "end": 161.772
                  },
                  {
                    "word": "in ",
                    "start": 161.772,
                    "end": 162.122
                  },
                  {
                    "word": "England. ",
                    "start": 162.122,
                    "end": 162.472
                  },
                  {
                    "word": "Let ",
                    "start": 162.472,
                    "end": 162.822
                  },
                  {
                    "word": "me ",
                    "start": 162.822,
                    "end": 163.172
                  },
                  {
                    "word": "check ",
                    "start": 163.172,
                    "end": 163.522
                  }
                ],
                "metadata": {
                  "response_id": 12
                }
              },
              {
                "role": "tool_call_result",
                "tool_call_id": "call_yuU1zHtSisXnisHY",
                "content": "{\"status\":\"Successfully booked an appointment.\"}",
                "time_sec": 163.511
              },
              {
                "role": "agent",
                "content": "if that time in Italy (Rome) is available.Your appointment is confirmed for tomorrow at 10 a.m. UK time. You'll receive a confirmation email shortly.",
                "words": [
                  {
                    "word": "if ",
                    "start": 163.522,
                    "end": 163.872
                  },
                  {
                    "word": "that ",
                    "start": 163.872,
                    "end": 164.222
                  },
                  {
                    "word": "time ",
                    "start": 164.222,
                    "end": 164.572
                  },
                  {
                    "word": "in ",
                    "start": 164.572,
                    "end": 164.922
                  },
                  {
                    "word": "Italy ",
                    "start": 164.922,
                    "end": 165.272
                  },
                  {
                    "word": "(Rome) ",
                    "start": 165.272,
                    "end": 165.622
                  },
                  {
                    "word": "is ",
                    "start": 165.622,
                    "end": 165.972
                  },
                  {
                    "word": "available.Your ",
                    "start": 165.972,
                    "end": 166.322
                  },
                  {
                    "word": "appointment ",
                    "start": 166.322,
                    "end": 166.672
                  },
                  {
                    "word": "is ",
                    "start": 166.672,
                    "end": 167.022
                  },
                  {
                    "word": "confirmed ",
                    "start": 167.022,
                    "end": 167.372
                  },
                  {
                    "word": "for ",
                    "start": 167.372,
                    "end": 167.722
                  },
                  {
                    "word": "tomorrow ",
                    "start": 167.722,
                    "end": 168.072
                  },
                  {
                    "word": "at ",
                    "start": 168.072,
                    "end": 168.422
                  },
                  {
                    "word": "10 ",
                    "start": 168.422,
                    "end": 168.772
                  },
                  {
                    "word": "a.m. ",
                    "start": 168.772,
                    "end": 169.122
                  },
                  {
                    "word": "UK ",
                    "start": 169.122,
                    "end": 169.472
                  },
                  {
                    "word": "time. ",
                    "start": 169.472,
                    "end": 169.822
                  },
                  {
                    "word": "You'll ",
                    "start": 169.822,
                    "end": 170.172
                  },
                  {
                    "word": "receive ",
                    "start": 170.172,
                    "end": 170.522
                  },
                  {
                    "word": "a ",
                    "start": 170.522,
                    "end": 170.872
                  },
                  {
                    "word": "confirmation ",
                    "start": 170.872,
                    "end": 171.222
                  },
                  {
                    "word": "email ",
                    "start": 171.222,
                    "end": 171.572
                  },
                  {
                    "word": "shortly.",
                    "start": 171.572,
                    "end": 171.922
                  }
                ],
                "metadata": {
                  "response_id": 12
                }
              },
              {
                "role": "user",
                "content": "Okay. Thank you.",
                "words": [
                  {
                    "word": "Okay. ",
                    "start": 175.586,
                    "end": 176.06599
                  },
                  {
                    "word": "Thank ",
                    "start": 176.06599,
                    "end": 176.22599
                  },
                  {
                    "word": "you.",
                    "start": 176.22599,
                    "end": 176.386
                  }
                ]
              },
              {
                "role": "agent",
                "content": "You're welcome! Have a great day, and feel free to reach out if you need any more help. Goodbye!",
                "words": [
                  {
                    "word": "You're ",
                    "start": 179.404125,
                    "end": 179.7677614746094
                  },
                  {
                    "word": "welcome! ",
                    "start": 179.7677614746094,
                    "end": 180.13139770507811
                  },
                  {
                    "word": "Have ",
                    "start": 181.091125,
                    "end": 181.45476147460937
                  },
                  {
                    "word": "a ",
                    "start": 181.45476147460937,
                    "end": 181.81839770507813
                  },
                  {
                    "word": "great ",
                    "start": 181.81839770507813,
                    "end": 182.1820341796875
                  },
                  {
                    "word": "day, ",
                    "start": 182.1820341796875,
                    "end": 182.54567041015625
                  },
                  {
                    "word": "and ",
                    "start": 182.54567041015625,
                    "end": 182.9093068847656
                  },
                  {
                    "word": "feel ",
                    "start": 182.9093068847656,
                    "end": 183.27294311523437
                  },
                  {
                    "word": "free ",
                    "start": 183.27294311523437,
                    "end": 183.63657958984376
                  },
                  {
                    "word": "to ",
                    "start": 183.63657958984376,
                    "end": 184.0002158203125
                  },
                  {
                    "word": "reach ",
                    "start": 183.8204052734375,
                    "end": 184.18404174804687
                  },
                  {
                    "word": "out ",
                    "start": 183.8204052734375,
                    "end": 184.18404174804687
                  },
                  {
                    "word": "if ",
                    "start": 183.8204052734375,
                    "end": 184.18404174804687
                  },
                  {
                    "word": "you ",
                    "start": 183.8204052734375,
                    "end": 184.18404174804687
                  },
                  {
                    "word": "need ",
                    "start": 183.8204052734375,
                    "end": 184.18404174804687
                  },
                  {
                    "word": "any ",
                    "start": 183.8204052734375,
                    "end": 184.18404174804687
                  },
                  {
                    "word": "more ",
                    "start": 183.8204052734375,
                    "end": 184.18404174804687
                  },
                  {
                    "word": "help. ",
                    "start": 183.8204052734375,
                    "end": 184.18404174804687
                  },
                  {
                    "word": "Goodbye!",
                    "start": 184.18404174804687,
                    "end": 184.54767797851562
                  }
                ],
                "metadata": {
                  "response_id": 13
                }
              },
              {
                "role": "tool_call_invocation",
                "tool_call_id": "call_BPqCm2ISm6ZL31mz",
                "name": "end_call_1760853994811",
                "arguments": "{  \n  \"execution_message\": \"You're welcome! Have a great day, and feel free to reach out if you need any more help. Goodbye!\" \n}",
                "time_sec": 184.977,
                "type": "end_call"
              }
            ],
            "knowledge_base_retrieved_contents_url": "https://dxc03zgurdly9.cloudfront.net/a664d3d4280b94d8f0e00efb37dde2522accd25f07faf791cd161941f52620ac/knowledge_base_retrieved_contents.json",
            "recording_url": "https://dxc03zgurdly9.cloudfront.net/a664d3d4280b94d8f0e00efb37dde2522accd25f07faf791cd161941f52620ac/recording.wav",
            "recording_multi_channel_url": "https://dxc03zgurdly9.cloudfront.net/a664d3d4280b94d8f0e00efb37dde2522accd25f07faf791cd161941f52620ac/recording_multichannel.wav",
            "public_log_url": "https://dxc03zgurdly9.cloudfront.net/a664d3d4280b94d8f0e00efb37dde2522accd25f07faf791cd161941f52620ac/public.log",
            "disconnection_reason": "agent_hangup",
            "latency": {
              "e2e": {
                "p50": 2092.9990234375,
                "p90": 2842.2000000000003,
                "p95": 3601.6499999999987,
                "p99": 4295.530000000001,
                "min": 1784.0048828125,
                "max": 4469,
                "num": 12,
                "values": [
                  2080.0009765625,
                  2394,
                  2042,
                  2101.998046875,
                  2186,
                  2069.006103515625,
                  1784.0048828125,
                  2025,
                  2084,
                  4469,
                  2335.989990234375,
                  2892
                ]
              },
              "tts": {
                "p50": 512,
                "p90": 545.6,
                "p95": 549.8,
                "p99": 553.16,
                "min": 470,
                "max": 554,
                "num": 2,
                "values": [
                  470,
                  554
                ]
              },
              "knowledge_base": {
                "p50": 149,
                "p90": 241.2,
                "p95": 260,
                "p99": 260,
                "min": 119,
                "max": 260,
                "num": 15,
                "values": [
                  197,
                  119,
                  188,
                  149,
                  213,
                  149,
                  193,
                  133,
                  260,
                  128,
                  122,
                  139,
                  146,
                  151,
                  260
                ]
              },
              "s2s": {
                "p50": 661.5,
                "p90": 934.3000000000001,
                "p95": 1270.6499999999994,
                "p99": 1586.1300000000006,
                "min": 559,
                "max": 1665,
                "num": 12,
                "values": [
                  640,
                  948,
                  559,
                  570,
                  601,
                  609,
                  643,
                  680,
                  694,
                  811,
                  752,
                  1665
                ]
              }
            },
            "call_cost": {
              "product_costs": [
                {
                  "product": "gpt_realtime",
                  "unit_price": 0.6666667,
                  "cost": 123.3333333
                },
                {
                  "product": "knowledge_base_usage",
                  "unit_price": 0.0083333,
                  "cost": 1.5416667
                }
              ],
              "total_duration_unit_price": 0.675,
              "total_duration_seconds": 185,
              "combined_cost": 124.875
            },
            "call_analysis": {
              "call_summary": "The user, Naoshin, called to book an appointment with the Sonaro AI team for a tailored plan and pricing review. The agent confirmed the user's name and email, checked availability, and successfully booked the appointment for tomorrow at 10 a.m. UK time. The user was satisfied and the call ended positively.",
              "in_voicemail": false,
              "user_sentiment": "Positive",
              "call_successful": true,
              "custom_analysis_data": {
                "Customer Name": "Naoshin",
                "Email": "naushintasnimkhan@gmail.com"
              }
            },
            "data_storage_setting": "everything",
            "opt_in_signed_url": false,
            "access_token": "eyJhbGciOiJIUzI1NiJ9.eyJ2aWRlbyI6eyJyb29tSm9pbiI6dHJ1ZSwicm9vbSI6IndlYl9jYWxsX2Q0YWQ0MGExOWJjYjU0NGU1ZTgxMjczZWNjOCJ9LCJpc3MiOiJBUElqWGZBMzVHTmM3WHgiLCJleHAiOjE3NjQwNTc5MjgsIm5iZiI6MCwic3ViIjoiY2xpZW50In0.TCYfrEYfdcd0LXD7xz9zipr25BEVGVNbosvnHNAJa_I"
          }
        },
        "webhookUrl": "https://sonaroo.app.n8n.cloud/webhook/SonaroAI",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "23a89798b9da55794730cb1200218212f08b7a2ac379b1cf5eb10353c0521f02"
  }
}